// stars 

.stars {
    color: $star-base-color; //  stars icon color
    fill: $color-white;     //  stars svg fill color
    stroke:$star-base-color ; //  stars svg stroke color
    transition: color 300ms;
    display: flex;
    flex-direction: row-reverse;
}
.stars i:hover,
.stars i:hover ~ i {
    color: $star-hover;
}
.stars svg:hover,
.stars svg:hover ~ svg {
    fill:$star-hover;
    stroke: $star-hover
}


// section titles

.section-title {
    position: relative;
    text-align: center;
    padding: 50px;
    span {
        display: inline-block;
    }

    &::before{
        background: url(../../assets/images/background/section-bg.svg);
        content: "";
        width: 100%;
        transform: translateX(-50%);
        position: absolute;
        height: 60px;
        top: 0;
        left: 50%;
        z-index: -2;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

